<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1089230147424-1v29gpd207ldvuo55kean799td520r93.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089230147424-1v29gpd207ldvuo55kean799td520r93</string>
	<key>API_KEY</key>
	<string>AIzaSyAncPfaiJV6mSq-sjKuSzxW6jxJBMj0Djs</string>
	<key>GCM_SENDER_ID</key>
	<string>1089230147424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shiffle</string>
	<key>PROJECT_ID</key>
	<string>shiffle-13edc</string>
	<key>STORAGE_BUCKET</key>
	<string>shiffle-13edc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089230147424:ios:df525e62ce6c50c5eb9805</string>
	<key>DATABASE_URL</key>
	<string>https://shiffle-13edc.firebaseio.com</string>
</dict>
</plist>